<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=localhost;Initial Catalog=PIZZABOX;Integrated Security=false;Uid=sa;Pwd=epic@123"/> 
    <!-- <add name="SqlConnectionString" connectionString="Data Source=DESKTOP-OTEU0EU\SQL2019;Initial Catalog=PIZZABOX;Integrated Security=false;Uid=sa;Pwd=123123"/>-->
    <add name="Passowrd" connectionString="a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3"/>
    <add name="sendEmailAddress" connectionString="arunodatest123@gmail.com"/>
    <add name="receivedEmailAddress" connectionString="dulanja619@gmail.com"/>
    <add name="emailPassword" connectionString="arun0da@112233"/>
    <add name="pfdFilePath" connectionString="D:\pizzaboxreceipt.pdf"/>
  </connectionStrings>
</configuration>