<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=localhost;Initial Catalog=PIZZABOX;Integrated Security=false;Uid=sa;Pwd=epic@123"/>
    <add name="Passowrd" connectionString="a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3"/>
  </connectionStrings>
</configuration>